using System;
@using festival.Client.Services
@using festival.Shared.Models
@using festival.Shared
@using System.Net.Http.Json;
@inject HttpClient Http
@page "/frivilligepage"


<PageTitle>Frivillige</PageTitle>

<label>Indtast venligt dine personlige oplysninger - Vælg derefter en ledig vagt</label>