@page "/"
<!DOCTYPE html>
<html lang="en">

<body>

    <!-- The Band Section -->
    <!DOCTYPE html>
    <html>
    <body>


        <p style="font-size:90px; text-align:center;">Musik Festival</p>
        <p style="font-size:17px; text-align:center;">
            Der er mange gode ting ved at være frivillig til vores musik festival.
            Du kommer til at være en del af vores fælleskab og derved en masse nye venner.
            Desuden er det en god mulighed for at lære noget nyt, og omkring mange nye ting.
            Her hos os får du en unik mulighed, for at få et indblik i hvordan en festival fungere bag kulisserne.
        </p>

    </body>
</html>


<div class="mySlides w3-display-container w3-center">
    <img src="https://www.w3schools.com/w3images/chicago.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
    </div>
</div>
</body>

</html>