@using festival.Client.Services
@using festival.Shared.Models
@using System.Net.Http.Json;
@inject HttpClient Http
@using System.Runtime.ConstrainedExecution;
@using System.Net.Http;
@using Npgsql;
@using Dapper;


@page "/musikpage"


<PageTitle>Listen over kunstenere</PageTitle>
<h1>Listen over kunstnere</h1>

@code{




}
