@using festival.Client.Services
@using festival.Shared.Models
@using festival.Shared
@using System.Net.Http.Json;
@inject HttpClient Http
@page "/vagt"


<PageTitle>Vagter</PageTitle>

<h1>Her ses de vagter som er blevet taget</h1>

<p>Som koordinator, kan du se hvilke vagter, som er blevet taget</p>

@if (gets == null)
{
    <p><em>Loading...</em></p>
}
else //Oprettelse af table
{
    <table class="table">
        <thead>
            <tr>
                <th>arbejdspladsid</th>
                <th>arbejdspladsnavn</th>
                <th>antalpersoner</th>
                <th>arbejdsbeskrivelse</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var get in gets)
            {

                <tr>
                    <td>@get.arbejdspladsid</td>
                    <td>@get.arbejdspladsnavn</td>
                    <td>@get.antalpersoner</td>
                    <td>@get.arbejdsbeskrivelse</td>


                </tr>
            }
        </tbody>
    </table>
}



@code {

    //Henter data fra vores database.
    [Inject]
    public IVagtService VagtService { get; set; }

    public List<Arbejdsplads> gets = new List<Arbejdsplads>();

    protected override async Task OnInitializedAsync()
    {
        //gets = (await VagtService.GetAllItems()).ToList();

    }

    <!----
    //Her forkorter vi vores date, sådan at vi kun ser dato ikke klokkesæt.
    public string DateStart(DateTime DateStart)
    {
        string result = DateStart.Date.ToShortDateString();
        return result;

    }
    -->

}

