@using festival.Client.Services
@using festival.Shared.Models
@using System.Net.Http.Json;
@inject HttpClient Http
@using System.Runtime.ConstrainedExecution;
@using System.Net.Http;
@using Npgsql;
@using Dapper;


@page "/vagt"


<PageTitle>Vagter</PageTitle>

<h1>Her ses de vagter som er blevet taget</h1>

<p>Som koordinator, kan du se hvilke vagter, som er blevet taget</p>

@if (gets == null)
{
    <p><em>Loading...</em></p>
}
else //Oprettelse af table
{
    <table class="table">
        <thead>
            <tr>
                <th>frivilligeid</th>
                <th>fornavn</th>
                <th>efternavn</th>
                <th>alder</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var get in gets) //var get in gets -- tidligere
            {

                <tr>
                    <td>@get.Frivilligeid</td>
                    <td>@get.Fornavn</td>
                    <td>@get.Efternavn</td>
                    <td>@get.Alder</td>


                </tr>
            }
        </tbody>
    </table>
}



@code {

    [Inject]
    public IFrivilligeService FrivilligeService { get; set; }
    public List<Frivillige> gets = new List<Frivillige>();
    protected override async Task OnInitializedAsync()
    {
        gets = (await FrivilligeService.GetAllFrivillige()).ToList();

    }

    //[Inject]
    //public IBookingService BookingService { get; set; }
    //public List<ShoppingItem> gets = new List<ShoppingItem>();
    //protected override async Task OnInitializedAsync()
    //{
        //gets = (await BookingService.GetAllItems()).ToList();

    //}


    <!--- Mads forsøg på at hente data
    private Frivillige[]? gets;

    protected override async Task OnInitializedAsync()
    {
        gets = await Http.GetFromJsonAsync<Frivillige[]>("api/frivilligeapi");
    }}
     -->
    <!--
    //Her forkorter vi vores date, sådan at vi kun ser dato ikke klokkesæt.
    public string DateStart(DateTime DateStart)
    {
        string result = DateStart.Date.ToShortDateString();
        return result;

    }
    -->
}

