<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">festival</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Forsiden
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="minprofil">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Min profil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="frivilligepage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Opret frivillige
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="koordinator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Opret vagter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vagtliste">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Vagtlisten (EDIT)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prioriteretvagter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Prioriteret vagter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="frivilligeliste">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listen over frivillige
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="point">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Point-oversigt
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

